.fa-icons i { color: grey }
.fa-icons i:hover{ color: white }

// Disable to color anchor
{}
#services a,#support a,#products a,#references a,#contact a,#skills a,#style a,#price a,#clients a,#top a,#projects a,#profile a,#company a,#address a,#summary a,#achievements a{
    text-decoration: none;
    color: #222222;
}

// Google Calendar
.gc_wrapper {
  max-width: 800px; 
  min-width: 300px; 
  margin: 2.0833% auto;
}
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 215px;
    overflow: hidden;
}
.responsive-iframe-container iframe,   
.responsive-iframe-container object,  
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //height: 100%;
}
@media (max-width: 600px) {
    .small-container {
       padding-bottom: 120%;   /* 高さ */
    }
}
@media (min-width: 600px) {
} 
