.fa-icons i { color: grey }
.fa-icons i:hover{ color: white }

// Google Calendar
.gc_wrapper {
  max-width: 800px; 
  min-width: 300px; 
  margin: 2.0833% auto;
}
 
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.responsive-iframe-container iframe,   
.responsive-iframe-container object,  
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
@media (max-width: 600px) {
    .big-container {
        display: none;
    }
    .small-container {
       padding-bottom: 200%;   /* 高さ */
    }
}
@media (min-width: 600px) {
    .small-container {
        display: none;
    }
}
