{% assign schedule = site.data.schedule | first %}
{% if schedule.is_auto_update == true %}
  {% assign initial_month = "now" | date: "%m" | to_i }} %}
{% else %}
  {% assign initial_month = schedule.initial_month %}
{% endif %}

<table class="month-sche">
  <tr>
    <th>{{ initial_month | plus: 0 
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ initial_month | plus: 1
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ initial_month | plus: 2
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ initial_month | plus: 3
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ initial_month | plus: 4
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ initial_month | plus: 5
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
  </tr>
  <tr>
    <td><img src="/img/spinner.svg" data-src="/img/agile-{{ schedule.plus_0  }}.png" class="lazyload"
	     alt="{{ schedule.plus_0
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="/img/spinner.svg" data-src="/img/agile-{{ schedule.plus_1 }}.png" class="lazyload"
	     alt="{{ schedule.plus_1
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="/img/spinner.svg" data-src="/img/agile-{{ schedule.plus_2  }}.png" class="lazyload"
	     alt="{{ schedule.plus_2
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="/img/spinner.svg" data-src="/img/agile-{{ schedule.plus_3 }}.png" class="lazyload"
	     alt="{{ schedule.plus_3
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="/img/spinner.svg" data-src="/img/agile-{{ schedule.plus_4  }}.png" class="lazyload"
	     alt="{{ schedule.plus_4
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="/img/spinner.svg" data-src="/img/agile-{{ schedule.plus_5  }}.png" class="lazyload"
	     alt="{{ schedule.plus_5
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
  </tr>
</table>
