{% assign schedule = site.data.schedule | first %}
<table class="month-sche">
  <tr>
    <th>{{ schedule.starting_month | plus: 0 
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ schedule.starting_month | plus: 1
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ schedule.starting_month | plus: 2
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ schedule.starting_month | plus: 3
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ schedule.starting_month | plus: 4
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ schedule.startingf_month | plus: 5
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
  </tr>
  <tr>
    <td><img src="/img/agile-{{ schedule.plus_0  }}.png" alt="{{ schedule.plus_0
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="/img/agile-{{ schedule.plus_1 }}.png" alt="{{ schedule.plus_1
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="/img/agile-{{ schedule.plus_2  }}.png" alt="{{ schedule.plus_2
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="/img/agile-{{ schedule.plus_3 }}.png" alt="{{ schedule.plus_3
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="/img/agile-{{ schedule.plus_4  }}.png" alt="{{ schedule.plus_4
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="/img/agile-{{ schedule.plus_5  }}.png" alt="{{ schedule.plus_5
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
  </tr>
</table>

