<table class="month-sche">
  <tr>
    <th>{{ include.started_month | plus: 0
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ include.started_month | plus: 1
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ include.started_month | plus: 2
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ include.started_month | plus: 3
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ include.started_month | plus: 4
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
    <th>{{ include.started_month | plus: 5
      | replace: 13, 1 | replace: 14, 2
      | replace: 15, 3 | replace: 16, 4
      | replace: 17, 5 | replace: 18, 6 }}月</th>
  </tr>
  <tr>
    <td><img src="../../img/agile-{{ include.first  }}.png" alt="{{ include.first
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="../../img/agile-{{ include.second }}.png" alt="{{ include.second
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="../../img/agile-{{ include.third  }}.png" alt="{{ include.third
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="../../img/agile-{{ include.fourth }}.png" alt="{{ include.fourth
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="../../img/agile-{{ include.fifth  }}.png" alt="{{ include.fifth
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
    <td><img src="../../img/agile-{{ include.sixth  }}.png" alt="{{ include.sixth
		  | replace: 'reserved',  'ありがとうございました'
		  | replace: 'adjusting', 'お問い合わせください'
		  | replace: 'available', 'ご相談お待ちしております' }}" /><br></td>
  </tr>
</table>

