{%- comment -%}
_data/doorkeeper_communities.yml の name/path をフラットに並べ、1 行 3 列で折り返す。
並び替え・追加・削除は YAML の行を動かすだけ。3 件未満の行は左寄せになる。
{%- endcomment -%}
<div class="community-icons">
  {% for community in site.data.doorkeeper_communities %}
  <div class="community-icon">
    <a href="https://{{ community.path }}.doorkeeper.jp/" rel="nofollow">
      <img width="200px" src="/img/spinner.svg" data-src="/img/logos/{{ community.path }}.png"
           alt="{{ community.name }}" class="lazyload">
      <span class="community-name">{{ community.name }}</span>
    </a>
  </div>
  {% endfor %}
</div>
