<table class="community-icon">  
  <thead>
    <tr>
      <th><a href="https://{{ include.left_path   }}.doorkeeper.jp/">{{ include.left_name }}</a></th>
      <th><a href="https://{{ include.center_path }}.doorkeeper.jp/">{{ include.center_name }}</a></th>
      <th><a href="https://{{ include.right_path  }}.igda-ryukyus.doorkeeper.jp/">{{ include.right_name }}</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
	<a href="https://{{ include.left_path }}.doorkeeper.jp" rel="nofollow">
	  <img width="200px" src="/img/logos/{{ include.left_path }}.png"
	   alt="{{ include.left_name }}"></a>
      </td>
      <td>
	<a href="https://{{ include.center_path }}.doorkeeper.jp/" rel="nofollow">
	  <img width="200px" src="/img/logos/{{ include.center_path }}.png"
	   alt="{{ include.center_name }}"></a>
      </td>
      <td>
	<a href="https://{{ include.right_path }}.doorkeeper.jp/" rel="nofollow">
	  <img width="200px" src="/img/logos/{{ include.right_path }}.png"
	   alt="{{ include.right_name }}"></a></td>
    </tr>
  </tbody>
</table>
