<section class="mailForm container">
    <!-- Contact Form via Wufoo -->
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-9">
          
        {% if page.lang == "ja" %}
          
            <div id="wufoo-zdk8f280mkdut0">
                <a href="https://yasslab.wufoo.com/forms/zdk8f280mkdut0">問い合わせフォームを開く</a>。
            </div>
            <script type="text/javascript">var zdk8f280mkdut0;
            (function (d, t) {
                var s = d.createElement(t), options = {
                    'userName': 'yasslab',
                    'formHash': 'zdk8f280mkdut0',
                    'autoResize': true,
                    'height': '497',
                    'async': true,
                    'host': 'wufoo.com',
                    'header': 'show',
                    'ssl': true
                };
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function () {
                    var rs = this.readyState;
                    if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try {
                        zdk8f280mkdut0 = new WufooForm();
                        zdk8f280mkdut0.initialize(options);
                        zdk8f280mkdut0.display();
                    } catch (e) {
                    }
                };
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;
                par.insertBefore(s, scr);
            })(document, 'script');</script>

        {% else %} 

            <div id="wufoo-r8dbxfa0g6bwd0" style="margin-top: -30px">
                Fill out my <a href="https://yasslab.wufoo.com/forms/r8dbxfa0g6bwd0">online form</a>.
            </div>
            <script type="text/javascript">var r8dbxfa0g6bwd0;(function(d, t) {
              var s = d.createElement(t), options = {
              'userName':'yasslab',
              'formHash':'r8dbxfa0g6bwd0',
              'autoResize':true,
              'height':'885',
              'async':true,
              'host':'wufoo.com',
              'header':'show',
              'ssl':true};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { r8dbxfa0g6bwd0 = new WufooForm();r8dbxfa0g6bwd0.initialize(options);r8dbxfa0g6bwd0.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
              })(document, 'script');
            </script>

        {% endif %}
          
        </div>
    </div>
</section>

