<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p style="color:white;"><a href="/ja">トップ</a> | <a href="/ja/works">開発・実績</a> | <a href="/en">English</a></p>
    <p>Copyright &copy; 2012-2015 YassLab All Rights Reserved.</p>
  </footer>
</div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-50163209-2");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
