<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <title>{{ page.title }}</title>
    {% if page.lang == "ja" %}
    <meta name="apple-mobile-web-app-title" content="YassLab" />
    <meta name="application-name"           content="YassLab" />
    {% else %}
    <meta name="apple-mobile-web-app-title" content="YassLab" />
    <meta name="application-name"           content="YassLab" />
    {% endif %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="google-site-verification" content="yDbQDXQZ6tC4VzzqH511E5wFuDQqzYuvMFytfYtyUsc" />
    <meta name="google-site-verification" content="_5DHY3tGdFZ7kKhnFfr95n5UKOpnpJsinGJCmcwfjHs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css" media="screen">

    <meta name="title"       content="YassLab - Having a Good Life with OpenSource ;)" />
    <meta name="description" content="Distributed Company that Works Remotely, focusing on Ruby/Rails Web Development, Education, and OpenSource." />
    <meta name="keywords"    content="ヤスラボ YassLab Ruby Rails 教育 オープンソース" />
    <meta name="author"      content="Yohei Yasukawa" />

    <meta property="fb:admins"      content="715330868" />
    <meta property="og:title"       content="YassLab - Having a Good Life with OpenSource ;)"/>
    <meta property="og:site_name"   content="YassLab - Having a Good Life with OpenSource ;)"/>
    <meta property="og:image"       content="http://yasslab.jp/img/logo_square.png"/>
    <meta property="og:url"         content="http://yasslab.jp/">
    <meta property="og:type"        content="company" />
    <meta property="og:description" content="Distributed Company that Works Remotely, focusing on Ruby/Rails Web Development, Education, and OpenSource." />

    <meta name="twitter:card"  content="summary" />
    <meta name="twitter:site"  content="@YassLab" />
    <meta name="twitter:title" content="YassLab - Having a Good Life with OpenSource ;)" />
    <meta name="twitter:description" content="Distributed Company that Works Remotely, focusing on Ruby/Rails Web Development, Education, and OpenSource." />
    <meta name="twitter:image" content="http://yasslab.jp/img/logo_square.png" />
    <meta name="twitter:url"   content="http://yasslab.jp/" />

    <link rel="author" type="text/plain" href="http://yasslab.jp/humans.txt" />
    
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <!-- Facebook Plugin -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
    {% if page.lang == "ja" %}
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.4&appId=680598798739780";
    {% else %}
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=680598798739780";
    {% endif %}
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
    {% if page.lang == "ja" %}
    <a id="header_to_en" href="/en">English</a>
    <h1 id="project_title"><a href="/ja" style="color:white;">YassLab</a></h1>
    <h2 id="project_tagline">Distributed Company that Works Remotely, focusing on Ruby/Rails Web Development, Education, and OpenSource.</h2>
    <!--
    <h2 id="project_tagline">子供向けIT教育から，Ruby/Railsアジャイル開発まで.<br />
	    オープンソースと共に活きる小規模分散型のチームです.</h2>
    -->
    {% else %}
    <a id="header_to_ja" href="/ja">日本語</a>
    <h1 id="project_title"><a href="/en" style="color:white;">YassLab</a></h1>
    <h2 id="project_tagline">Distributed Company that Works Remotely, focusing on Ruby/Rails Web Development, Education, and OpenSource.</h2>
    {% endif %}
  </header>
</div>
