<div class="col-6 col-md-4 {{ member.add_style }}">
  <div class="card cardMember">
    <div class="cardMember__thumbnail">
      <img src="/img/spinner.svg" data-src="/img/photos/{{ member.username }}.webp"
       alt="{{ member.username }}" class="rounded-circle lazyload">
    </div>
    <div class="cardMember__content">
      <span style='font-size: smaller;'>
	<a class="cardMember__account" target="_blank"
	 {% if member.link_to %}href="{{ member.link_to }}"
	 {% else %}             href="https://x.com/{{ member.username }}"
	 {% endif %}>@{{ member.username }}</a>
      </span>
      {% if include.lang == 'ja' %}
      <p class="cardMember_summary" style='margin-top: 10px;'>{{ member.profile_ja | markdownify }}</p>
      {% endif %}
    </div>
  </div>
</div>
