<section class="partners">
  <div class="container tutorial">
    <h3><a href="#partners"><span class="emoji">🤝</span>
      利用実績・提携法人</a></h3>
    <div class="col-12 text-center" style="margin-top: 10px;">
      <ul class="flex-container">
        <li class="item"><a href="https://enpit.coins.tsukuba.ac.jp/"><img data-src="/img/partners/tukuba.png" alt="筑波大学" class="lazyload"></a></li>
        <li class="item"><a href="/ja/news/univ-of-ryukyus-with-railstutorial"><img data-src="/img/partners/ryukyu.png" alt="琉球大学" class="lazyload"></a></li>
        <li class="item"><a href="http://syllabus.sc.kogakuin.ac.jp/syllabus/daigaku/2019/1J13/3H15.html"><img data-src="/img/partners/kogakuin.png" alt="工学院大学" class="lazyload"></a></li>
        <li class="item"><a href="https://aiit.ac.jp/master_program/isa/lecture/pdf/h31/3_2.pdf"><img data-src="/img/partners/aiit.png" alt="産業技術大学院大学" class="lazyload"></a></li>
      </ul>

      <ul class="flex-container">
        <li class="item"><a href="/ja/news/learning-by-making"><img data-src="/img/partners/money-forward.png" alt="マネーフォワード" class="lazyload"></a></li>
        <li class="item"><a href="/ja/news/railstutorial-at-members-career"><img data-src="/img/partners//members-career.png" alt="メンバーズグループ" class="lazyload"></a></li>
        <li class="item"><a href="https://yasslab.jp/ja/news/partnership-with-nilquebe"><img data-src="/img/partners/nilquebe_rect.png" alt="Nilquebe" class="lazyload"></a></li>
        <li class="item"><a href="/ja/news/partnership-with-techtraining"><img data-src="/img/partners/techtraining.png" alt="TechCommit" class="lazyload"></a></li>
      </ul>

      <ul class="flex-container">
        <li class="item"><a href="/ja/news/partnership-with-haj-empowerment"><img data-src="/img/partners/haj.png" alt="ジョブキタ" class="lazyload"></a></li>
        <li class="item"><a href="https://prtimes.jp/main/html/rd/p/000000036.000015015.html"><img data-src="/img/partners/progate.png" alt="Progate" class="lazyload"></a></li>
        <li class="item"><a href="https://note.com/yasslab/n/n8383778e38a3"><img data-src="/img/partners/sharewis.png" alt="ShareWis" class="lazyload"></a></li>
        <li class="item"><a href="https://prtimes.jp/main/html/rd/p/000000004.000021148.html"><img data-src="/img/partners/potepan.png" alt="ポテパンキャンプ" class="lazyload"></a></li>
      </ul>

      <ul class="flex-container">
        <li class="item"><a href="/ja/news/partnership-with-codebase"><img data-src="/img/partners/codebase.jpg" alt="CODE BASE" class="lazyload"></a></li>
        <li class="item"><a href="https://www.osakac.ac.jp/project_now/cs/208"><img data-src="/img/partners/osakac.png" alt="大阪電気通信大学" class="lazyload"></a></li>
        <li class="item"><a href="https://note.com/yasslab/n/n4afda49ed786"><img data-src="/img/partners/carbon.gif" alt="Carbon Ads" class="lazyload"></a></li>
        <li class="item"><a href="https://note.com/yasslab/n/n420f5d8b5da9"><img data-src="/img/partners/runteq.png" alt="RUNTEQ" style="border-radius: 0;" class="lazyload"></a></li>
      </ul>

      <ul class="flex-container">
	<li class="item"><img data-src="/img/partners/empty.png" alt="Empty Logo" class="lazyload"></li>
	<li class="item"><a href="https://note.com/yasslab/n/n0bfc4f042e5f"><img data-src="/img/partners/systemintegrator.png" alt="株式会社システムインテグレータ" class="lazyload"></a></li>
        <li class="item" style="padding-left: 10px;"><a href="https://note.com/yasslab/n/ne721c54c9efa"><img data-src="/img/partners/hachinohe.png" alt="八戸工業大学" style="border-radius: 0;" class="lazyload"></a></li>
	<li class="item"><img data-src="/img/partners/empty.png" alt="Empty Logo" class="lazyload"></li>
      </ul>

      <div class="tutorial">
        <a href="https://railstutorial.jp/partner">
          <button class="btn btn-ruby btn-padding external-link">詳細を見る</button>
        </a>
      </div>
    </div>
  </div>
</section>
