<section class="partners" id="partners">
  <div class="container tutorial">
    <h3><a href="#partners"><i class="fad fa-handshake-alt"></i>
      {% if page.lang == 'en' %}Partners & Customers{% else %}利用実績・提携法人{% endif %}</a></h3>
    <div class="col-12 text-center" style="margin-top: 10px;">
      <ul class="flex-container">
        <li class="item">
          <a href="https://note.com/yasslab/n/na8c64dbde6ef" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/tukuba.png" alt="筑波大学" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="/ja/news/univ-of-ryukyus-with-railstutorial" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/ryukyu.png" alt="琉球大学" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="http://syllabus.sc.kogakuin.ac.jp/syllabus/daigaku/2019/1J13/3H15.html" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/kogakuin.png" alt="工学院大学" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/nb3710ebaf686" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/aiit.png" alt="産業技術大学院大学" class="lazyload"></a>
	</li>
        <li class="item">
          <a href="https://note.com/yasslab/n/n8e602147ec9a" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/money-forward.png" alt="マネーフォワード" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="/ja/news/railstutorial-at-members-career" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/members-career.png" alt="メンバーズグループ" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="/ja/news/partnership-with-nilquebe" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/nilquebe_rect.png" alt="Nilquebe" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="/ja/news/partnership-with-techtraining" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/techcommit.png" alt="TechCommit" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="/ja/news/partnership-with-haj-empowerment" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/haj.png" alt="ジョブキタ" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://prtimes.jp/main/html/rd/p/000000036.000015015.html" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/progate.png" alt="Progate" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/n8383778e38a3" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/sharewis.png" alt="ShareWis" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="/ja/news/partnership-with-codebase" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/codebase.jpg" alt="CODE BASE" width="90%" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://www.osakac.ac.jp/news/2016/922" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/osakac.png" alt="大阪電気通信大学" width="90%" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/n4afda49ed786" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/carbon.gif" alt="Carbon Ads" width="80%" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="/ja/news/rails5-basic-with-tutorial" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/railscp.png" alt="Rails技術者認定試験運営委員会" width="60%" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/n0bfc4f042e5f" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/systemintegrator.png" alt="株式会社システムインテグレータ" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/ne721c54c9efa" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/hachinohe.png" alt="八戸工業大学" width="80%" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/n1a8d85751ec0" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/gifu_university.png" alt="岐阜大学" width="60%" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/nf10eb75f1b36" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/kinki_university.png" alt="近畿大学" width="80%" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/n2351d74949f1" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/mitoujr.webp" alt="未踏ジュニア" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/nc1a50a052661" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/techpit.png" alt="Techpit" width="80%" class="lazyload"></a>
        </li>
	<li class="item">
          <a href="https://note.com/yasslab/n/n4fb0f88e6b20" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/gmo_pepabo.png" alt="GMO ペパボ" width="80%" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/n629e561f3def" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/sonic_garden.png" alt="ソニックガーデン" width="80%" class="lazyload"></a>
        </li>
	<li class="item">
          <a href="https://note.com/yasslab/n/n44dedd3d4af5" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/ruby_procon.jpg" alt="Rubyプロコン" width="80%" class="lazyload"></a>
        </li>
        <li class="item">
          <a href="https://note.com/yasslab/n/n99e5e5504439" target='_blank' rel='noopener'><img src="/img/spinner.svg" data-src="/img/partners/classi.png" alt="Classi" width="80%" class="lazyload"></a>
        </li>
      </ul>

      <div class="tutorial">
        <a href="https://railstutorial.jp/business">
          <button class="btn btn-primary external-link">
	    {% if page.lang == 'en' %}See details (Japanese){% else %}サービス概要・導入事例を見る{% endif %}</button>
        </a>
      </div>
    </div>
  </div>
</section>
