<h3>安川 要平 (YASUKAWA, Yohei)</h3>

<p><a href="https://facebook.com/yasulab"><img src="/img/self_osscafe_without_text_300x300.png" alt="写真"></a></p>

<p>早稲田大学情報理工学科卒 (修士)。米国留学中に<a href="https://play.google.com/store/apps/details?id=org.sorarier.whistle">震災対策アプリ</a>を開発し、震災の翌日に公開。そのアプリのヒットを契機に、帰国後、沖縄と東京を拠点にした会社「YassLab」を起業。主にアジャイル開発・教材制作・翻訳技術研究の3つの事業を展開。</p>

<p>2012年にGoogle所属(当時)のPMに推薦され、<a href="https://www.ipa.go.jp/jinzai/mitou/kinkyou/creator.html">IPA未踏スーパークリエータ</a>に認定。2013年には、沖縄で行われた<a href="http://academy.lexues.co.jp/">週末ものづくり講座</a>が高く評価され、<a href="http://www.tedxryukyu.com/">TEDxRyukyu</a>に登壇。2014年に<a href="http://railstutorial.jp/">Railsチュートリアル</a>の功績が評価され、フクオカRuby大賞にて優秀賞を受賞。2015年より<a href="http://jr.mitou.org/">未踏ジュニア</a>の立ち上げに参画し、PMとして活躍。世界的な子ども向けプログラミングコミュニティ CoderDojo の <a href="http://kata.coderdojo.com/wiki/CoderDojo_Community_Committee">Community Committee</a> に就任し、2016年からは<a href="http://coderdojo.jp/">一般社団法人 CoderDojo Japan</a> の代表理事に就く。現在は<a href="https://speakerdeck.com/yasulab/continuous-integration-for-ebook">継続的翻訳/組版システム</a>を開発しながら、<a href="http://railsguides.jp/">Railsガイド</a>などの翻訳の自動化に挑戦している。</p>

<p>代表詳細: <a href="https://github.com/yasulab">GitHub</a>, <a href="https://twitter.com/yasulab">Twitter</a>, <a href="https://facebook.com/yasulab/">Facebook</a>, <a href="https://www.linkedin.com/in/yasulab">LinkedIn</a>.</p>
