<table class="about-table">
  <tbody>
    <tr>
      <th>会社名</th>
      <td>{{ site.company.name }} 株式会社</td>
    </tr>
    <tr>
      <th>社員数</th>
      <td>{{ site.company.size }}名 (パート・<a href="/ja/join-forces">複業採用</a>含む)</td>
    </tr>
    <tr>
      <th>資本金</th>
      <td>{{ site.company.capital }}万円</td>
    </tr>
    <tr>
      <th>創業日</th>
      <td>2012年6月01日 開業<br>2018年1月11日 法人成り</td>
    </tr>
    <tr>
      <th>所在地</th>
      <td>〒169-0075<br>東京都新宿区高田馬場1-28-10<br>三慶ビル4階 CASE Shinjuku</td>
    </tr>
    <tr>
      <th>商標登録</th>
      <td><a href="https://www.j-platpat.inpit.go.jp/web/TR/JPT_5982564/A6156E75F65DAF34797EEE3AEF4EB33C">商標公報5982564</a></td>
    </tr>
    <tr>
      <th>顧問社労士</th>
      <td><img src="/img/photos/oka.jpg" alt="社会保険労務士法人 岡佳伸事務所"><br><a href="https://oka-sr.jp/">社会保険労務士法人 岡佳伸事務所</a><br><span class="sigyo-name">岡 佳伸</span></td>
    </tr>
    <tr>
      <th>顧問税理士</th>
      <td><img src="/img/photos/hayasi.jpg" alt="Hay未来の税理士法人 林 寛之"><br><a href="http://www.hay-kaikei.com/">Hay未来の税理士法人</a><br><span class="sigyo-name">林 寛之</span></td>
    </tr>
    <tr>
      <th>顧問弁護士</th>
      <td><img src="/img/photos/nojima.jpg" alt=">新都心法律事務所 野島 梨恵"><br><a href="http://nojimarie.naganoblog.jp/">新都心法律事務所</a><br><span class="sigyo-name">野島 梨恵</span></td>
    </tr>
    <tr>
      <th>関連団体</th>
      <td>
	<ul style="list-style: none; margin-left: -25px; margin-bottom: 10px;" >
	  <li><a href="https://www.boss-con.jp/railspartner/">BOSS-CON JAPAN</a><br>
	    <small>(Rails認定ゴールドインテグレーター)</small></li>
	  <li><a href="https://www.railscp.com/aboutus/">Rails技術者認定試験運営委員会</a><br>
	    <small>(テクニカルアドバイザー)</small></li>
	  <li><a href="https://oss-gate.github.io/">OSS Gate</a><br>
	    <small>(<a href="/ja/doorkeeper">Doorkeeper スポンサーシップ</a>)</small></li>
	  <li><a href="https://www.ryukyu-frogs.com/">RyukyuFrogs</a><br>
	    <small>(テクニカルサポーター・協賛)</small></li>
	  <li><a href="https://rubykaigi.org/2019">RubyKaigi</a><br>
	    <small>(翻訳協力・協賛)</small></li>
	  <li><a href="https://coderdojo.jp/">CoderDojo Japan</a><br>
	    <small>(<a href="/ja/posts/coderdojo-japan-2018">開発支援パートナー</a>)</small></li>
	  <li><a href="https://www.mitou.org/">Mitou Foundation</a><br>
	    <small>(<a href="http://jr.mitou.org/">未踏ジュニア</a>PM・教材スポンサー)</small></li>
	</ul>
      </td>
    </tr>
  </tbody>
</table>
