<table class="about-table" style="margin-bottom: 100px;">
  <tbody>
    <tr>
      <th>会社名</th>
      <td>{{ site.company.name }} 株式会社<br>
	<small><small>
	  （英名: <a href='https://www.houjin-bangou.nta.go.jp/en/henkorireki-johoto.html?selHouzinNo=4011101082872'>YassLab Inc.</a> / 読み: <code>ヤスラボ</code>）
	</small></small>
      </td>
    </tr>
    <tr>
      <th>登録ID</th>
      <td><small>
	インボイス: <a href='https://www.invoice-kohyo.nta.go.jp/regno-search/detail?selRegNo=4011101082872'>T4011101082872</a><br>
	　法人番号: &nbsp;&nbsp;&nbsp;<a href='https://www.houjin-bangou.nta.go.jp/henkorireki-johoto.html?selHouzinNo=4011101082872'>4011101082872</a><br>
	　商標番号:  &nbsp;&nbsp;&nbsp;<a href='https://www.j-platpat.inpit.go.jp/c1801/TR/JPT_5982564/00/ja'>5982564</a>
      </small></td>
    </tr>
    <tr>
      <th>メンバー</th>
      <td><a href='/ja/#members'>{{ site.data.members | size }}名</a> <small>(役員・パート・<a href='/ja/join-forces#top'>複業採用</a>含む)</small></td>
    </tr>
    <tr>
      <th>資本金</th>
      <td>{{ site.company.capital }}万円</td>
    </tr>
    <tr>
      <th>創業日</th>
      <td>2012年6月01日 創業<br>2018年1月11日 法人成り
	<small>(
	  <a href='https://x.com/yasulab/status/958189005194985472' target='_blank'>SNS での反響
	    <small><i class="fa-solid fa-arrow-up-right-from-square"></i></small>
	  </a> )
	</small>
      </td>
    </tr>
    <tr>
      <th>所在地</th>
      <td>〒169-0075<br>東京都新宿区<br class="ignore-pc">高田馬場1-28-10<br>三慶ビル4階 <a href="https://case-shinjuku.com/">CASE Shinjuku</a></td>
    </tr>
    {% if include.benefits %}
    <tr id="benefits">
      <th>各種保険</th>
      <td>労働保険・雇用保険・社会保険 (パートタイムの場合は条件による)、昇給あり</td>
    </tr>
    <tr id="holidays">
      <th>休暇・<br class="ignore-pc">休日</th>
      <td>完全週休２日制、夏季休暇、冬季休暇、有給休暇、慶弔休暇、育児介護休暇あり</td>
    </tr>
    <tr id="holidays">
      <th>勤務時間<br class="ignore-pc"></th>
      <td>
	10:00〜18:00<br class="ignore-pc">
	<small><small>(<a href="/ja/docs/work-regulations#4-勤務">早出勤制度</a>あり)</small></small>
	<br>
	<small><small>※
	  関連記事: <a href='https://note.com/yasslab/n/nac0e9e427b5a'>勤務時間を、１時間短く ⏰</a>
	</small></small>
      </td>
    </tr>
    <tr id="style">
      <th>契約形態</th>
      <td>要望に応じて柔軟に対応します。<br>
	<ul style="margin-bottom: 0px;">
	  <li>
	    <a href="/ja/docs/contract-sample-for-fulltime/">雇用契約書</a>
	    <small>(<a href="/ja/docs/nda-sample-for-members/">NDA</a> / <a href="/ja/docs/contract-sample-for-parttime/">短時間</a>)</small>
	  </li>
	  <li>
	    <a href="/ja/docs/contract-sample-for-partners/">業務委託契約書</a>
	    <small>(<a href="/ja/docs/nda-sample-for-partners">NDA</a>)</small>
	  </li>
	</ul>
	<small>他: <a href="/ja/docs/work-regulations">就業規則</a>、<a href="/ja/docs/wage-regulations">賃金規程</a>、<br class="ignore-pc"><a href="/ja/docs/">労使協定等</a></small>
      </td>
    </tr>
    {% endif %}
    <tr>
      <th>代表<br class="ignore-pc">取締役</th>
      <td><img width="100px" src="/img/spinner.svg" data-src="/img/photos/yasulab.webp" alt="安川 要平" class="lazyload"><br>
	<a href="/ja/about#ceo">代表プロフィール</a><br>
	<span class="sigyo-name">安川 要平</span>
      </td>
    </tr>
    <!--
    <tr>
      <th>顧問<br class="ignore-pc">弁護士</th>
      <td><img src="/img/spinner.svg" data-src="/img/photos/nojima.jpg" alt="新都心法律事務所 野島 梨恵" class="lazyload"><br>
	<a href="http://nojimarie.naganoblog.jp/">新都心法律事務所</a><br>
	<span class="sigyo-name">野島 梨恵</span>
      </td>
    </tr>
    -->
    <tr>
      <th>顧問<br class="ignore-pc">社労士</th>
      <td><img src="/img/spinner.svg" data-src="/img/photos/oka.jpg" alt="社会保険労務士法人 岡佳伸事務所" class="lazyload"><br>
	<a href="https://oka-sr.jp/">社労法人 岡佳伸事務所</a><br>
	<span class="sigyo-name">岡 佳伸</span>
      </td>
    </tr>
    <tr>
      <th>顧問<br class="ignore-pc">税理士</th>
      <td><img src="/img/spinner.svg" data-src="/img/photos/hayasi.jpg" alt="Hay未来の税理士法人 林 寛之" class="lazyload"><br>
	<a href="https://www.mirai-no.co.jp/">Hay未来の税理士法人</a><br>
	<span class="sigyo-name">林 寛之</span>
      </td>
    </tr>
    <tr>
      <th>関連団体<br class="ignore-pc">・協賛<br class="ignore-pc">・支援</th>
      <td>
	<ul style="list-style: none; margin-left: -25px; margin-bottom: 10px;" >
	  <li><a href="https://rubykaigi.org/2019">RubyKaigi</a><br>
	    <small>(<a href="https://rubykaigi.org/2017/team/">翻訳協力</a>・<a href="https://rubykaigi.org/2019/sponsors#silver">協賛</a>)</small></li>
	  <li><a href="https://ruby-no-kai.org/">日本Rubyの会</a><br>
	    <small>(<a href="https://bugs.ruby-lang.org/issues/11783#:~:text=YassLab">CI サーバー支援</a>)</small></li>
	  <li><a href='https://note.com/yasslab/n/n2351d74949f1'>未踏ジュニア - 小中高生クリエータ支援プログラム</a><br>
	    <small>(Ruby/Rails 学習コンテンツの提供)</small></li>
	  <li><a href='https://note.com/yasslab/n/n4740c60cbd56'>中高生国際Rubyプログラミングコンテスト</a><br>
	    <small>(Ruby/Rails 学習コンテンツの提供)</small></li>
	  <li><a href='https://note.com/yasslab/n/nf65faaa42732'>琉球frogs</a><br>
	    <small>(Ruby/Rails 学習コンテンツの提供)</small></li>
	  <li><a href='https://note.com/yasslab/n/na9327c85764e?magazine_key=md778735d3f77'>JPHACKS</a><br>
	    <small>(Ruby/Rails 学習コンテンツの提供)</small></li>
	  <!--<li><a href="https://scrivito.com/">Scrivito</a><br>
	    <small>(<a href="https://speakerdeck.com/yasulab/case-study-rails-cms-for-coderdojo">開発協力</a>パートナー)</small></li>-->
	  <li><a href="https://railsce.com/si">Rails技術者認定試験</a><br>
	    <small>(Rails認定インテグレーター)</small></li>
	  <li><a href="https://github.com/coderdojo-japan/coderdojo.jp#scroll-development-history--contributors">CoderDojo Japan</a><br>
	    <small>(<a href="/ja/agile">開発支援</a>パートナー)</small></li>
	  <li><a href="https://oss-gate.github.io/">OSS Gate</a><br>
	    <small>(<a href="/ja/doorkeeper">Doorkeeper スポンサーシップ</a>)</small></li>
	</ul>
      </td>
    </tr>
    <tr id="sns">
      <th>SNS</th>
      <td>
	<ul style="list-style: none; margin-left: -25px; margin-bottom: 10px;" >
	  <li><a href="https://github.com/yasslab">GitHub</a> (<a href="https://github.com/search?utf8=%E2%9C%93&amp;q=user%3Ayasslab+fork%3Atrue&amp;type=Repositories&amp;ref=searchresults">人気順</a>)</li>
	  <li><a href="https://qiita.com/organizations/yasslab">Qiita</a></li>
	  <li><a href="https://www.facebook.com/yasslab.jp">Facebook</a></li>
	  <li><a href="https://twitter.com/YassLab">Twitter</a></li>
	  <li><a href="https://www.youtube.com/YassLab">YouTube</a></li>
	  <li><a href="https://www.wantedly.com/companies/YassLab">Wantedly</a></li>
	</ul>
      </td>
    </tr>
    <tr>
      <th>プロダクト</th>
      <td>
	<ul style="list-style: none; margin-left: -25px; margin-bottom: 10px;" >
          <li><a href="https://railstutorial.jp/">Ruby on Rails チュートリアル</a></li>
          <li><a href="https://railsguides.jp/">Ruby on Rails ガイド</a> (<a href="https://github.com/yasslab/railsguides.jp">GitHub</a>)</li>
          <li><a href="https://coderdojo.jp/">coderdojo.jp</a> (<a href="https://github.com/coderdojo-japan/coderdojo.jp">GitHub</a>)</li>
	  <div id="contact"></div>
	</ul>
      </td>
    </tr>
  </tbody>
</table>
