<table class="about-table">
  <tbody>
    <tr>
      <th>会社名</th>
      <td>{{ site.company.name }} 株式会社</td>
    </tr>
    <tr>
      <th>社員数</th>
      <td>{{ site.company.size }}名 (パート・<a href="/ja/join-forces">複業採用</a>含む)</td>
    </tr>
    <tr>
      <th>資本金</th>
      <td>{{ site.company.capital }}万円</td>
    </tr>
    <tr>
      <th>創業日</th>
      <td>2012年6月01日 開業<br>2018年1月11日 法人成り</td>
    </tr>
    <tr>
      <th>所在地</th>
      <td>〒169-0075<br>東京都新宿区高田馬場1-28-10<br>三慶ビル4階 CASE Shinjuku</td>
    </tr>
    <tr>
      <th>商標登録</th>
      <td><a href="https://www.j-platpat.inpit.go.jp/web/TR/JPT_5982564/A6156E75F65DAF34797EEE3AEF4EB33C">商標公報5982564</a></td>
    </tr>
    <tr>
      <th>顧問社労士</th>
      <td><img src="/img/photos/oka.jpg" alt="社会保険労務士法人 岡佳伸事務所"><br><a href="https://oka-sr.jp/">社会保険労務士法人 岡佳伸事務所</a><br><span class="sigyo-name">岡 佳伸</span></td>
    </tr>
    <tr>
      <th>顧問税理士</th>
      <td><img src="/img/photos/hayasi.jpg" alt="Hay未来の税理士法人 林 寛之"><br><a href="http://www.hay-kaikei.com/">Hay未来の税理士法人</a><br><span class="sigyo-name">林 寛之</span></td>
    </tr>
    <tr>
      <th>顧問弁護士</th>
      <td><img src="/img/photos/nojima.jpg" alt=">新都心法律事務所 野島 梨恵"><br><a href="http://nojimarie.naganoblog.jp/">新都心法律事務所</a><br><span class="sigyo-name">野島 梨恵</span></td>
    </tr>
    <tr>
      <th>関連団体</th>
      <td>
        BOSS-CON JAPAN (Rails認定ゴールドインテグレーター)<br>
        Rails技術者認定試験運営委員会 (テクニカルアドバイザー)<br>
        OSS Gate (Doorkeeper スポンサー)<br>
        RyukyuFrogs (テクニカルサポーター・協賛)<br>
        RubyKaigi (翻訳協力)<br>
        Scrivito (開発協力)<br>
        CoderDojo Japan (開発支援)<br>
        Mitou Foundation (未踏ジュニアPM・教材スポンサー)
      </td>
    </tr>
  </tbody>
</table>
