<h5 id='tweets' style="padding-top: 20px; padding-bottom: 10px">
  <i class="fad fa-volume-high"></i>
  <a href="https://twitter.com/YassLab" target="_blank" rel="noopener">最近のツイート</a>
</h5>

<div style='display: flex; justify-content: center;'>
  <a class="twitter-timeline" href="https://twitter.com/YassLab?ref_src=twsrc%5Etfw"
     data-lang="ja" data-chrome="noheader nofooter noborders" data-dnt="true"
     data-width="500" data-tweet-limit="5" target="_blank" rel="noopener">@YassLab tweets in Twitter</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
