<div id="news"></div>
<h4>
  <a href="#news">
    <i class="fad fa-newspaper"></i>
    {% if page.lang == 'en' %} Recent News
    {% else %} 最近のお知らせ
    {% endif %}
  </a>
</h4>
<!--<div class="text-secondary center mb-4">(note 記事まとめ)</div>-->

{% include news-list.html limit=10 show_search=true %}

<div class="text-center mt-5 pt-3">
  <a href="{% if page.lang == 'en' %}/en/news/{% else %}/ja/news/{% endif %}" class="btn btn-primary">{% if page.lang == 'en' %}&raquo; Read past news{% else %}&raquo; 過去の記事を読む{% endif %}</a>
</div>
