<section class="services-for-team">
  <h2><a href="#for-team">👥 チーム向けサービス</a></h2>
  <div class="service-business">
    <a href="https://railstutorial.jp/business" class="service-business-one" id="tutorial" target="_blank" rel="noopener">
      <img data-src="/img/thumbnail-tutorial-business.png" alt="Railsチュートリアル 法人プラン" class="lazyload">
      <h3>Railsチュートリアル 法人プラン</h3>
      <ul>
        <li>社員研修で利用する方向け</li>
        <li>管理者向けの購入管理画面</li>
        <li>月額無料。980円から利用可</li>
      </ul>
      <p><b>社員研修などのチーム利用に特化</b>したサービスです。Webテキストや解説動画をチームで利用する場合に最適です。</p>
    </a>
    <a href="https://railstutorial.jp/partner" class="service-business-one" target="_blank" rel="noopener">
      <img data-src="/img/thumbnail-tutorial-partner.png" alt="Railsチュートリアル 協業プラン" class="lazyload">
      <h3>Railsチュートリアル 協業プラン</h3>
      <ul>
        <li>教材として利用する方向け</li>
        <li>事業者向けダッシュボード</li>
        <li>人数に応じたライセンス料</li>
      </ul>
      <p>Railsチュートリアルを<b>教材として利用 (質問対応やメンタリング含む)</b> する方向けのライセンス契約サービスです。</p>
    </a>
    <a href="https://railsguides.jp/team" class="service-business-one" id="guides" target="_blank" rel="noopener">
      <img data-src="/img/thumbnail-guides-team.png" alt="Railsガイド Teamプラン" class="lazyload">
      <h3>Railsガイド Teamプラン</h3>
      <ul>
	<li>開発チーム向け</li>
        <li>全文検索などに対応</li>
        <li>人数に応じた月額利用</li>
      </ul>
      <p>1,400ページ以上ある大型コンテンツ<b>『Railsガイド』をチームで最適に利用</b>するためのサービスです。</p>
    </a>
  </div>
  <div id="partners"></div>
</section>
