<section class="services-for-team" id="for-team">
  <h2><a href="#for-team">👥 チーム向けサービス</a></h2>
  <div class="service-business">
    <a href="https://railstutorial.jp/business" class="service-business-one" id="tutorial" target="_blank" rel="noopener">
      <img src="/img/spinner.svg" data-src="/img/thumbnail-tutorial-business.png" alt="Railsチュートリアル 法人プラン" class="lazyload">
      <h3>Railsチュートリアル 法人プラン</h3>
      <ul>
        <li>社員研修で利用する方向け</li>
        <li>管理者向けダッシュボード</li>
        <li>月額無料。レポート機能付</li>
      </ul>
      <p><b>社員研修に特化</b>した教材利用サービスです。研修をまとめて依頼したい方向けの『研修プラン』もあります。</p>
    </a>
    <a href="https://railstutorial.jp/partner" class="service-business-one" target="_blank" rel="noopener">
      <img src="/img/spinner.svg" data-src="/img/thumbnail-tutorial-partner.png" alt="Railsチュートリアル 協業プラン" class="lazyload">
      <h3>Railsチュートリアル 協業プラン</h3>
      <ul>
        <li>教育事業で利用する方向け</li>
        <li>事業者向けダッシュボード</li>
        <li>人数に応じたライセンス料</li>
      </ul>
      <p>１万人以上が利用する更新され続ける教材で、<b>事業を加速させたい</b>法人向けライセンス契約サービスです。</p>
    </a>
    <a href="https://railsguides.jp/team" class="service-business-one" id="guides" target="_blank" rel="noopener">
      <img src="/img/spinner.svg" data-src="/img/thumbnail-guides-team.png" alt="Railsガイド Teamプラン" class="lazyload">
      <h3>Railsガイド Teamプラン</h3>
      <ul>
	<li>Web開発チーム向け</li>
        <li>全文検索などに対応</li>
        <li>人数に応じた月額利用</li>
      </ul>
      <p>1,600ページ以上ある大型コンテンツ『Railsガイド』で<b>Webサービス開発を早めたい</b>チーム向けサービスです。</p>
    </a>
  </div>
</section>
