<section class="services-for-team" id="for-team">
  <h2><a href="#for-team"><i class="fad fa-users-class"></i> チーム向けサービス</a></h2>
  <div class="service-business">
    <a href="https://railstutorial.jp/business" class="service-business-one" id="tutorial" target="_blank" rel="noopener">
      <img src="/img/spinner.svg" data-src="/img/thumbnail-tutorial-business.png" alt="Railsチュートリアル研修支援サービス" class="lazyload">
      <h3>Railsチュートリアル 研修支援</h3>
      <ul>
        <li>社員研修で利用する方向け</li>
        <li>管理者向けダッシュボード</li>
        <li>月額無料。トレーニング付</li>
      </ul>
      <p><b>社員研修を支援</b>するサービスです。内製化を支援する『内製プラン』と、研修設計から支援する『研修プラン』があります。</p>
    </a>
    <a href="https://railstutorial.jp/partner" class="service-business-one" target="_blank" rel="noopener">
      <img src="/img/spinner.svg" data-src="/img/thumbnail-tutorial-partner.png" alt="Railsチュートリアル 協業プラン" class="lazyload">
      <h3>Railsチュートリアル 教材連携</h3>
      <ul>
        <li>教育事業で利用する方向け</li>
        <li>事業者向けダッシュボード</li>
        <li>人数に応じた買い切り決済</li>
      </ul>
      <p><b>教育事業を支援</b>するサービスです。教育機関や非営利法人、民間の事業者向けに１万人以上が利用するコンテンツを提供します。</p>
    </a>
    <a href="https://railsguides.jp/sponsors" class="service-business-one" id="guides" target="_blank" rel="noopener">
      <img src="/img/spinner.svg" data-src="/img/thumbnail-guides-team.png" alt="Railsガイド 協賛プラン" class="lazyload">
      <h3>Railsガイド 協賛プラン</h3>
      <ul>
        <li>協賛によるPRを利用する方向け</li>
        <li>スポンサーとして紹介</li>
        <li>結果を定期的にレポート</li>
      </ul>
      <p><b>協賛企業のPRを支援</b>するサービスです。Rails学習者/開発者に多く利用されている『Railsガイド』で協賛企業をご紹介します。</p>
    </a>
  </div>
</section>
