  <ul>
    <li><a href="/ja#top">トップ</a></li>
    <li><a href="/ja#tutorial">Railsチュートリアル</a></li>
    <li><a href="/ja#guides">Railsガイド</a></li>
    <li><a href="/ja/#services">サービス紹介</a></li>
    <li><a href="/ja/#news">お知らせ</a></li>
    <li><a href="/ja/about">会社概要</a></li>
    <li><a href="/ja/works">事業実績</a></li>
    <li><a href="/ja/join-forces">採用情報</a></li>
    <li><a href="/ja/docs">公開資料</a></li>
    <li><a href="/ja/#contact">お問い合わせ</a></li>
    <li><a href="/ja/privacy">プライバシーポリシー</a></li>
    <li><a href="/ja/brand">ブランドガイドライン</a></li>
    <li><a href="/en">English</a></li>
  </ul>
  <p><small>
    {% assign lang = page.lang | default: "ja" %}
    Copyright &copy; 2012-{{ site.time | date: '%Y' }} YassLab Inc. All Rights Reserved.<br>
    {{ site.data.translations.companyAddress[lang] }}
  </small></p>
