  <ul>
    <li><a href="/ja">HOME</a></li>
    <li><a href="/ja/agile">開発支援</a></li>
    <li><a href="/ja/about">会社概要</a></li>
    <li><a href="/ja/works">事業実績</a></li>
    <li><a href="/ja/join-forces">採用情報</a></li>
    <li><a href="/ja/#contact">お問い合わせ</a></li>
    <li><a href="/ja/privacy">プライバシーポリシー</a></li>
    <li><a href="/ja/brand">ブランドガイドライン</a></li>
    <li><a href="/en">English</a></li>
  </ul>
  <p><small>
  Copyright &copy; 2012-{{ site.time | date: '%Y' }} YassLab Inc. All Rights Reserved.<br>
  東京都新宿区高田馬場1-28-10 三慶ビル4階 CASE Shinjuku
  </small></p>
