<ol class="snsb">
  <!-- Facebook -->
  <li><div class="fb-like" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div></li>

  <!-- Twitter  -->
  <li><a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-lang="en" data-hashtags="{{ site.company.name }}" data-via="{{ site.company.name }}" width="100">Tweet</a></li>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <!-- Hatena   -->
  <li><a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label-counter" data-hatena-bookmark-lang="ja" data-hatena-bookmark-width="100" data-hatena-bookmark-height="20" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></li>
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

  <!-- LINE     -->
  <!--
  <li><div class="line-it-button" data-lang="ja" data-type="like" data-url="{{ page.permalink | absolute_url }}" style="display: none;"></div></li>
  <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  -->
  
  <!-- RSS -->
  <li style="margin-top: 0px;"><a href="/feed.xml"><img src="/img/icons/rss.svg" width="20px;" style="border-radius: 3px; vertical-align:top;" alt="Register RSS feed for YassLab's News" /></a></li>
</ol>
