{% include header.html %}

<div class="video">
  <iframe src="https://www.youtube.com/embed/oo1dVd_sNwA?rel=0&autoplay=1&showinfo=0&controls=0&fs=0&modestbranding=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<!--section class="pageVisual">
    <div class="jumbotron">
    </div>
</section-->
<section class="entry_content pt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

                <h1>YassLab.の理念</h1><br>

                <h2>なぜやるのか</h2>

                <p class="mb-4">
                    僕たちはオープンソースソフトウェアと、そのコミュニティによって支えられて育ちました。そのため、<strong>オープンソースやそのコミュニティと共に活きるビジネスに挑戦</strong>しています。生き抜くためのビジネスの難しさを認識しつつ、しかし、軸足はオープンソースに置いた働き方を大切にしています。</p>
                <p class="mb-4">
                    その最たる例が、<a href="https://railstutorial.jp/" target="_blank">Railsチュートリアル</a>や<a href="https://railsguides.jp/" target="_blank">Railsガイド</a>です。これらのウェブサイトを有料化することはしません。しかし、セミナーやスクリーンキャストなどで収益を出したり、自動化によるコスト削減には努力を惜しみません。</p>
                <p class="mb-4">僕らを育ててくれたオープンソースソフトウェアやコミュニティへの感謝と還元が第一にあり、その上で、ビジネス化に挑戦するチームが YassLab です。</p>
                <img src="../../img/company_image.png" alt="YassLabセミナーイメージ" class="mt-3 mb-5">
                <h2 class="text-center mb-5">どうやっているのか</h2>
                <p class="mb-4">
                    オープンソースコミュニティへの貢献といっても、機能実装やバグ報告、ドキュメンテーションなど、多種多様なやり方があります。どのような方法で貢献するにせよ、継続的にコミットしていくことが大切です。そのためには高い生産性と卓越した技術を持って仕事を十全にこなし、かつ、仕事に忙殺されずに日々のモチベーションを保つことが大切だと考えます。</p>
                <p class="mb-4">モチベーションは重要な資源です。<br>僕らはこの資源を絶やさないために</p>
                <ol>
                    <li> 各自の能力が秀でていること</li>
                    <li> 日々の生活が充足していること</li>
                </ol>
                <p class="mb-4">の２つを重要視しています。</p>
                <p class="mb-4">これらの点を強く意識しているため、例えば 1). 能力や素質のある人を育成・発掘するために教育事業を展開したり、また、2).
                    大事な人と過ごす時間を大切にしてもらうために<strong>完全リモートワーク制</strong>を採っていたりします。</p>
                <p class="mb-4">こういった基盤が盤石であることでモチベーションという貴重な資源が生まれ、コミュニティに継続的に貢献したりビジネスの発展に寄与したりできると考えています。</p>
                <p class="mb-4">チームとして掲げている「Having a Good Life with OpenSource」というフレーズは、こういった僕らの考え方を表した短い言葉です。</p>
                <p class="mb-4">
                    僕らがそうであったように、僕らが大切にしているコミュニティから恩恵を受けた人達が、また次の世代のコミュニティに貢献していく。そういった循環の１つになれたらと考えています。</p>
            </div>
            <div class="col-md-12 profile mt-5">
                <div class="profile__image text-center mb-2">
                    <img src="../../img/yohei_300x300.png" alt="安川 要平" class="rounded-circle">
                </div>
                <div class="profile__role text-center mb-2">YassLab. 代表</div>
                <h2 class="text-center mb-3 h2deco-none">安川 要平 (YASUKAWA, Yohei)</h2>
                <ul class="profile__sns mb-3">
                    <li class="profile__sns__icon">
                        <a href="https://www.facebook.com/yasulab" target="_blank"><img src="../../img/icon-fb.png" alt="Facebook"></a>
                    </li>
                    <li class="profile__sns__icon">
                        <a href="https://twitter.com/yasulab" target="_blank"><img src="../../img/icon-tw.png" alt="Twitter"></a>
                    </li>
                    <li class="profile__sns__icon">
                        <a href="https://github.com/yasulab" target="_blank"><img src="../../img/icon-gh.png" alt="GitHub"></a>
                    </li>
                    <li class="profile__sns__icon">
                        <a href="https://www.linkedin.com/in/yasulab/" target="_blank"><img src="../../img/icon-li.png" alt="LinkedIn"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-5">
                <div class="text-left">
                    <p>早稲田大学情報理工学科卒 (修士)。米国留学中に<span class="blue-text">震災対策アプリ</span>を開発し、震災の翌日に公開。そのアプリのヒットを契機に、帰国後、沖縄と東京を拠点にした会社「YassLab」を起業。主にアジャイル開発・教材制作・翻訳技術研究の3つの事業を展開。
                    </p>
                    <p>2012年にGoogle所属(当時)のPMに推薦され、<span class="blue-text">IPA未踏スーパークリエータ</span>に認定。2013年には、沖縄で行われた<span
                            class="blue-text">週末ものづくり講座</span>が高く評価され、<span class="blue-text">TEDxRyukyu</span>に登壇。<span
                            class="blue-text">2014年にRailsチュートリアル</span>の功績が評価され、フクオカRuby大賞にて優秀賞を受賞。2015年より<span
                            class="blue-text">未踏ジュニア</span>の立ち上げに参画し、PMとして活躍。国際的な子ども向けプログラミングクラブ「CoderDojo」の <span
                            class="blue-text">Community Committee</span> に就任し、2016年からは<span class="blue-text">一般社団法人 CoderDojo Japan </span>の代表理事に就く。現在は<span
                            class="blue-text">継続的翻訳/組版システム</span>を開発しながら、<span class="blue-text">Railsガイド</span>などの大型書籍制作の自動化に挑戦している。
                    </p>
                </div>
            </div>
        </div>
        
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/oo1dVd_sNwA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2 company">
              <div class="text-center">
                <h1 class="text-center mt-5 mb-5">会社概要</h1>
              </div>
                <table>
                    <tbody>
                    <tr>
                        <th>会社名</th>
                        <td>YassLab株式会社</td>
                    </tr>
                    <tr>
                        <th>社員数</th>
                        <td>9人 (複業採用含む)</td>
                    </tr>
                    <tr>
                        <th>創業日</th>
                        <td>2012年6月1日<br>(2018年1月11日 法人成り)</td>
                    </tr>
                    <tr>
                        <th>商標登録</th>
                        <td>商標公報5982564</td>
                    </tr>
                    <tr>
                        <th>顧問社労士</th>
                        <td><img src="https://picsum.photos/50/50" alt="社会保険労務士 岡 佳伸事務所 岡 佳伸">社会保険労務士 岡 佳伸事務所 岡 佳伸</td>
                    </tr>
                    <tr>
                        <th>顧問税理士</th>
                        <td><img src="https://picsum.photos/50/50" alt="Hay未来の税理士法人 林 寛之">Hay未来の税理士法人 林 寛之</td>
                    </tr>
                    <tr>
                        <th>顧問弁護士</th>
                        <td><img src="https://picsum.photos/50/50" alt="東京山王法律事務所 野島 梨恵">東京山王法律事務所 野島 梨恵</td>
                    </tr>
                    <tr>
                        <th>関連団体</th>
                        <td>
                            BOSS-CON JAPAN (Rails認定ゴールドインテグレーター)<br>
                            Rails技術者認定試験運営委員会 (テクニカルアドバイザー)<br>
                            OSS Gate (Doorkeeper スポンサー)<br>
                            RyukyuFrogs (テクニカルサポーター・協賛)<br>
                            RubyKaigi (翻訳協力)<br>
                            Scrivito (開発協力)<br>
                            CoderDojo Japan (開発支援)<br>
                            Mitou Foundation (未踏ジュニアPM・スポンサー)
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</section>


{% include footer.html %}
