{% include header.html %}
<section class="pageVisual">
    <div class="bg-dark">
    </div>
</section>
<section class="entry_content pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <h1 class="mb-5">Ruby/Rails の開発支援サービス</h1>
		<h3 class="mb-5">経験豊富なチームで<br class="mobile-hidden">御社の開発をサポートします</h3>
		<!--
                <h2 class="mb-5">経験豊富なチームで<br class="mobile-hidden">御社の開発をサポートします</h2>
                <p class="text-center mb-4">See this in English? <a href="/en/agile/">Here</a> ;)</p>
		-->
                <!--img src="../../img/agile_image.jpg" alt="チーム開発イメージ" class="mt-3 mb-5"-->
		
              </div>
            </div><!--//col-->
        </div><!--//row-->
    </div><!--//container-->
</section>
<section class="entry_content pt-5">
    <div class="container">         
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="mb-5">得意なスキル・サービス</h2>
          </div>
          <div class="col">
	    <a href="https://www.ruby-lang.org/" target="_blank">
              <img src="../../img/icon-ruby.png" width="80%" alt="Ruby logo" /></a><br>
               Ruby / Rails
            </div> <!--//col-->
            <div class="col">
              <img src="../../img/icon-test.png" width="80%" alt="test icon" /><br>Test
            </div>  <!--//col--> 
            <div class="col">
              <a href="https://github.com/" target="_blank">
              <img src="../../img/icon-git.png" width="80%" alt="Git logo" /></a><br>Git / GitHub
            </div>  <!--//col--> 
            
            <div class="w-100"></div> 
            <div class="col">
              <img src="../../img/icon-cloud.png" width="80%" alt="cloud icon" /><br>Heroku / AWS
            </div> <!--//col-->
            <div class="col">
              <img src="../../img/icon-gear.png" width="80%" alt="Continuous Integration image" /><br>Continuous Integration
            </div>  <!--//col--> 
            <div class="col">
              <img src="../../img/icon-agile.png" width="80%" alt="Agile Web Development image" /><br>Agile Web Development
            </div>  <!--//col-->  
            
            <div class="col-md-12">
              <p class="mt-5">上記の他、フロントエンドの技術 (HTML, CSS, JavaScript, jQuery, Vue.js) なども扱えますが、フロントエンドのみの開発支援は行っておりません。ご注意ください。</p>
            </div>
                
        </div><!--//row-->
    </div><!--//container-->
</section>

<section class="entry_content pt-5 bg-gray">
  <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
          <h2 class="mb-5">契約スタイル</h2>
          <p>弊社では、IPAが公開しているアジャイル開発向けのモデル契約 (基本 + 個別契約) をベースにしております。</p>
                 
          <div>
	    <img src="../../img/contract-img.gif" alt="基本/個別契約モデルの概要" width="100%" />
	    <br><br>
            <center>参考: <a href="https://www.ipa.go.jp/files/000005404.pdf">アジャイル開発向けモデル契約案について</a> (IPA)</center>
	  </div>
          
          <p>この契約の特徴は次の通りです:</p>
          
          <ul>
            <li>基本契約でNDAや著作権の譲渡などを取り扱います</li>
            <li>個別契約を１ヶ月〜３ヶ月ごとに更新していきます</li>
            <li>準委任契約となり、成果物は作業報告書になります</li>
          </ul>
          
          <p>上記のモデル契約書を具体化した契約書が、次の契約書になります。特に、ユーザとベンダの定義、個別契約書と作業報告書の関係性などを具体化しています。</p>
          
          <p><a href="https://www.dropbox.com/sh/zqrdkmie0dambh1/AAD8ilSwPIBzrT09qu_9f4B3a" target="_blank">IPAのモデル契約をベースにした基本/個別契約書の例 (作成: YassLab 株式会社)</a></p>
          
          <p>なお、本契約スタイルと似た契約であれば、上記の契約書でなくても問題ありません。</p>
        </div><!--//col-->
      </div><!--//row-->
    </div><!--//container-->
</section>

<section class="entry_content pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
              <h2 id="clients" class="text-center mb-5"><a href="#clients">これまでの取引先</a></h2>

              <ul>
                <li>国内
                  <ul>
                    <li><a href="http://agile.esm.co.jp/">永和システムマネジメント アジャイル事業部</a> (開発パートナー)</li>
                    <li><a href="http://www.recruit-mp.co.jp/">リクルートマーケティングパートナーズ</a></li>
                    <li><a href="https://mtl.recruit.co.jp/">リクルートホールディングス (Media Technology Lab)</a></li>
                    <li><a href="http://www.nttr.co.jp/">NTTレゾナント</a></li>
                    <li><a href="http://speee.jp/">Speee</a></li>
                    <li><a href="https://www.freee.co.jp/">freee</a></li>
                  </ul>
                </li>
                <li>海外
                  <ul>
                    <li><a href="https://www.railstutorial.org/">Ruby on Rails Tutorial by Michael Hartl</a> (米国)</li>
                    <li><a href="https://www.learnenough.com/">Learn Enough to Be Dangerous</a> (米国)</li>
                    <li><a href="https://scrivito.com/partners">Scrivito: The Professional Cloud-Based Rails CMS</a> (ドイツ)</li>
                    <li><a href="https://tickleapp.com/ambassador/">Tickle: Programming re-imagined for the connected world</a> (台湾)</li>
                  </ul>
                </li>
              </ul>
              
              <p>より詳しい実績については、<a href="/ja/works/">事業実績ページ</a>をご参照ください。</p>

            </div><!--//col-->
        </div><!--//row-->
    </div><!--//container-->
</section>


<section class="entry_content catchCopy pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
              <h2 id="products" class="text-center mb-5"><a href="#products">自社プロダクト</a></h2>
              <ul>
                <li><a href="https://railstutorial.jp/">Ruby on Rails チュートリアル</a></li>
                <li><a href="http://railsguides.jp/">Ruby on Rails ガイド</a> (<a href="https://github.com/yasslab/railsguides.jp">GitHub</a>)</li>
                <li><a href="https://coderdojo.jp/">CoderDojo Japan</a> (<a href="https://github.com/coderdojo-japan/coderdojo.jp">GitHub</a>)</li>
                <li>他、各種OSSと記事:
                  <ul>
                    <li><a href="https://github.com/yasslab">GitHub</a> (<a href="https://github.com/search?utf8=%E2%9C%93&amp;q=user%3Ayasslab+fork%3Atrue&amp;type=Repositories&amp;ref=searchresults">人気順</a>)</li>
                    <li><a href="http://qiita.com/organizations/yasslab">Qiita</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--//col-->
        </div><!--//row-->
    </div><!--//container-->
</section>


<section class="entry_content pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
              <h2 id="references" class="text-center mb-5"><a href="#references">他、参考情報</a></h2>
              <ul>
                <li>会社名: YassLab 株式会社</li>
                <li>社員数: 10人 (パート・複業採用含む)</li>
                <li>設立日: 2012年6月1日 (2018年1月11日 法人成り)</li>
                <li>代表取締役: 安川 要平</li>
                <li>顧問社労士: <a href="http://oka-sr.jp/">社会保険労務士 岡 佳伸事務所</a> 岡 佳伸</li>
                <li>顧問税理士: <a href="http://www.hay-kaikei.com/">Hay未来の税理士法人</a> 林 寛之</li>
                <li>顧問弁護士: <a href="http://www.ynmlaw.com/">東京山王法律事務所</a> 野島 梨恵</li>
                <li>パートナー・関連団体:
                  <ul>
                    <li><a href="http://www.boss-con.jp/railspartner/">BOSS-CON JAPAN</a> (Rails認定ゴールドインテグレーター)</li>
                    <li><a href="http://www.railscp.com/aboutus/">Rails技術者認定試験運営委員会</a> (テクニカルアドバイザー)</li>
                    <li><a href="https://oss-gate.github.io/">OSS Gate</a> (スポンサー)</li>
                    <li><a href="http://www.ryukyu-frogs.com/">RyukyuFrogs</a> (テクニカルサポーター・協賛)</li>
                    <li><a href="http://rubykaigi.org/">RubyKaigi</a> (翻訳協力)</li>
                    <li><a href="https://scrivito.com/partners">Scrivito</a> (開発協力)</li>
                    <li><a href="https://coderdojo.jp/">CoderDojo Japan</a> (開発支援)</li>
                    <li><a href="http://www.mitou.org/">Mitou Foundation</a> (<a href="http://jr.mitou.org/">未踏ジュニア</a>PM・スポンサー)</li>
                  </ul>
                </li>
                <li>SNS: 
              <a href="https://github.com/yasslab">GitHub</a> (<a href="https://github.com/search?utf8=%E2%9C%93&amp;q=user%3Ayasslab+fork%3Atrue&amp;type=Repositories&amp;ref=searchresults">人気順</a>), 
              <a href="http://qiita.com/organizations/yasslab">Qiita</a>, 
              <a href="https://www.facebook.com/yasslab.jp">Facebook</a>, 
              <a href="https://twitter.com/YassLab">Twitter</a>, 
              <a href="https://www.youtube.com/c/YassLab">YouTube</a>, 
              <a href="https://www.wantedly.com/companies/YassLab">Wantedly</a>.</li>
              </ul>
              <p>本サービスに関するご相談は、下記のフォームよりお問い合わせください。</p>

            </div><!--//col-->
        </div><!--//row-->
    </div><!--//container-->
</section>

{% include footer.html %}
