{% include header.html %}

<!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
    {% if page.lang == "ja" %}
    <a id="header_to_en" href="/en">English</a>
    <h1 id="project_title">ヤスラボ</h1>
    <h2 id="project_tagline">子供向けIT教育から，Ruby/Railsアジャイル開発まで.<br />
	    オープンソースと共に活きる小規模分散型のチームです.</h2>
    {% else %}
    <a id="header_to_ja" href="/ja">日本語</a>
    <h1 id="project_title">YassLab</h1>
    <h2 id="project_tagline">Distributed Company that Works Remotely, focusing on Ruby/Rails Web Development, Education, and OpenSource.</h2>
    {% endif %}
  </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    {{ content }}
    <!-- Contact Form via Wufoo -->
    <div id="wufoo-zdk8f280mkdut0" style="margin-top: -50px" >
	    Fill out my <a href="https://yasslab.wufoo.com/forms/zdk8f280mkdut0">online form</a>.
    </div>
    <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
    <script type="text/javascript">var zdk8f280mkdut0;(function(d, t) {
	    var s = d.createElement(t), options = {
	    'userName':'yasslab',
	    'formHash':'zdk8f280mkdut0',
	    'autoResize':true,
	    'height':'497',
	    'async':true,
	    'host':'wufoo.com',
	    'header':'show',
	    'ssl':true};
	    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
	    s.onload = s.onreadystatechange = function() {
	    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
	    try { zdk8f280mkdut0 = new WufooForm();zdk8f280mkdut0.initialize(options);zdk8f280mkdut0.display(); } catch (e) {}};
	    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
	    })(document, 'script');</script>
  </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p>
      Copyright &copy; 2014 YassLab All Rights Reserved.
    </p>
  </footer>
</div>

{% include footer.html %}
