{% include header.html %}
{% include thumbnail.html %}

<section class="entry_content pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h1 class="mb-5">Doorkeeper <br class="ignore-pc">スポンサーシップ</h1>
          <h3 class="mb-5"><a href="https://www.doorkeeper.jp/">Doorkeeper</a> 有償アカウントを<br>コミュニティ向けに無償提供</h3>		
        </div>
      </div><!--//col-->
    </div><!--//row-->
  </div><!--//container-->
</section>

<section class="entry_content pt-5">
  <div class="container">         
    <div class="row text-center">
      <div class="col-md-12">
	{{ content }}
      </div><!--//col-md-12-->
    </div><!--//row-->
  </div><!--//container-->
</section>

{% include footer.html %}
