{% include header.html %}

<section class="mainVisual">
  <div class="jumbotron">
    <picture>
      <img src="/img/cover-photo.min.jpg" data-src="/img/cover-photo.jpg" width="100%"
       alt="{{ site.company.vision }}" class="lazyload" loading="lazy" />
    </picture>

    <div class="logo-catch">
      <h1>{{ site.company.vision }}</h1>
    </div>
  </div>
</section>

<section class="catchCopy entry_content" id="vision">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Start developing your own products.</h2>
	<!--<p class="text-md-center font-weight-bold">We focus on developing Web services by using Ruby, and<br class="mobile-hidden">keep contributing opensource communities through our businesses.</p>-->
      </div>
    </div>
  </div>
</section>

<section class="products entry_content" id="products">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>《<a href="https://speakerdeck.com/yasulab/how-we-continuously-translate-tech-docs">Two services to learn</a>》</h3>
	<!--<h4 style="line-height: 2.0em; padding-bottom: 50px;">Improve environments to develop,<br class="mobile-hidden">by automating tech docs translation.</h4>-->

        <div class="row">
          <div class="col-md-4 offset-md-1">
	    <a href="https://railstutorial.jp/" target="_blank" rel="noopener">
	      <img class="books lazyload" src="/img/spinner.svg" data-src="/img/logos/rails-tutorial.png"
               alt="Ruby on Rails Tutorial in Japanese" loading="lazy"></a>
            <a href="https://railstutorial.jp/" target="_blank" rel="noopener">
              <button class="btn btn-ruby">railstutorial.jp</button></a>
	    <h4>for learners.</h4>
            <p>Learn web development from zero to deploy. Available for individuals and teams.</p>
          </div>
	  
          <div class="col-md-4 offset-md-2">
            <a href="https://railsguides.jp/" target="_blank" rel="noopener">
              <img class="books lazyload" src="/img/spinner.svg" data-src="/img/logos/rails-guides.png"
	           alt="Ruby on Rails Guides in Japanese" loading="lazy"></a>
              <a href="https://railsguides.jp/" target="_blank" rel="noopener">
		<button class="btn btn-ruby">railsguides.jp</button></a>
              <h4>for developers.</h4>
              <p>1,400+ pages contents to develop web services by using Ruby on Rails in Japanese. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="partners"></div>
{% include partners_and_clients.html %}

<!--
<section class="service entry_content" id="service">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 style="line-height: 2.0em;"><a href="#service" style="color: white;">《Web Development Support by Ruby》</a></h3>
	<h4 style="line-height: 2.0em; padding-bottom: 30px; color: white;">We provide professinal services to support<br class="mobile-hidden">
	  developing your Ruby/Rails projects with following skills.</h4>
        <div class="row mb-5">
          <div class="col-4">
            <figure id="ruby">
              <img class="lazyload" loading="lazy" src="/img/spinner.svg" data-src="/img/icons/ruby-pale.png" width="80%" alt="Ruby logo" />
               <figcaption>Ruby / Rails</figcaption>
            </figure>
          </div>
          <div class="col-4">
            <figure id="cloud">
              <img class="lazyload" loading="lazy" src="/img/spinner.svg" data-src="/img/icons/cloud-pale.png" width="80%" alt="cloud icon" />
              <figcaption>Heroku / AWS</figcaption>
            </figure>
          </div>
          <div class="col-4">
            <figure id="agile">
              <img class="lazyload" loading="lazy" src="/img/spinner.svg" data-src="/img/icons/agile-pale.png" width="80%" alt="Agile Web Development image" />
              <figcaption>Agile Web Development</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
	<div class="developmentSupport__more text-center">
          <a href="/en/agile" class="btn btn-primary btn-block mt-2">Read details</a>
	</div>
      </div>
      <div class="col-md-6">
	<div class="developmentSupport__more text-center">
          <a href="#works" class="btn btn-primary btn-block mt-2">Past works</a>
	</div>
      </div>
    </div>
  </div>
</section>
-->

<section class="community entry_content" id="community">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2><a href="#community" style="color: white;">《Community Support》</a></h2>
        <p class="text-md-center">We think communities are important. As one of community members,
	  <br class="ignore-sp">we provide the following programs with non-profit organizations.</p>
        <div class="row">
          <div class="col-md-4">
            <!--
	    <figure>
              <a href="http://ruby.okinawa/" target="_blank">
                <img class="lazyload" loading="lazy" src="/img/spinner.svg"
		     data-src="/img/logos/okinawarb.gif" alt="Okinawa.rb"></a>
              <figcaption><a href="http://ruby.okinawa/okrk02/">Okinawa RubyKaigi</a></figcaption>
            </figure>
	    -->
	    <figure>
              <a href="https://jr.mitou.org/english" target="_blank" rel="noopener">
                <img src="/img/spinner.svg" data-src="/img/logos/mitoujr.png"
		     class="lazyload" loading="lazy"
		     alt="Enhance young innovative creators program in Japan."></a>
              <figcaption><a href="https://jr.mitou.org/english#sponsors" target="_blank" rel="noopener">Provide learning materials</a></figcaption>
            </figure>
          </div>
          <div class="col-md-4">
            <figure>
              <a href="/ja/doorkeeper/">
                <img class="lazyload" loading="lazy" src="/img/spinner.svg"
		     data-src="/img/logos/doorkeeper.gif" alt="Doorkeeper x YassLab"></a>
              <figcaption><a href="/ja/doorkeeper/">Sponsor event management</a></figcaption>
            </figure>
          </div>
          <div class="col-md-4">
            <figure>
              <a href="https://coderdojo.jp/" target="_blank" rel="noopener">
                <img class="lazyload" loading="lazy" src="/img/spinner.svg"
		     data-src="/img/logos/coderdojo-japan.gif" alt="CorderDojo Japan"></a>
              <figcaption><a href="/en/agile">Support web development</a></figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer container">
  <section id="main_content" class="inner row justify-content-md-center pt-5">
    <div class="col-12 col-md-9 entry_content text-center">
    {{ content }}
    </div>
  </section>
</div>

{% include footer.html %}
