{% assign heading_number = 0 %}

{% include header.html %}

{% if page.thumbnail %}
<div style="color: #fff;padding: 100px 0;margin-bottom: 0; background: url(../../../img/{{ page.thumbnail }});">
</div>
{% else %}
<div style="color: #fff;padding: 100px 0;margin-bottom: 0; background: url(../../../img/bg-sky.jpg);">
</div>
{% endif %}

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer container">
  <section id="main_content" class="keiyaku row justify-content-md-center pt-5">
    <div class="col-12 col-md-9 entry_content">
      <style type="text/css">
       h1 { line-height:1.5; text-align: center; }
       h2 { width: 100%;     text-align: center; }
       .entry_content h2 { padding-top: 50px; margin-bottom: -20px;}
       .entry_content h3 { padding-top: 20px; }
       .entry_content h2:before { content: none; }
       .entry_content h2:after  { content: none; }
       ul { list-style: none; }
       table, td, th { border: 1px black solid; }
       table { margin-bottom: 40px; }
       .entry_content p { margin-bottom: 15px; }
      </style>
      {{ content }}
    </div>
  </section>
</div>

{% include footer_without_contact.html %}
