{% include header.html %}

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer container">
  <section id="main_content" class="keiyaku row justify-content-md-center pt-5">
    <div class="col-12 col-md-9 entry_content">
      <style type="text/css">
       h1 { line-height:1.5; text-align: center; }
       h2 { width: 100%;     text-align: center; }
       .entry_content h2:before { content: none; }
       .entry_content h2:after  { content: none; }
       ul { list-style: none; }
      </style>
      {{ content }}
    </div>
  </section>
</div>

{% include footer.html %}
