{% include header.html %}

{% if page.thumbnail %}
<div style="color: #fff;padding: 100px 0;margin-bottom: 0; background: url(../../img/{{ page.thumbnail }});">
</div>
{% else %}
<div style="color: #fff;padding: 100px 0;margin-bottom: 0; background: url(../../img/bg-sky.jpg);">
</div>
{% endif %}

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer container">
  <section id="main_content" class="inner row justify-content-md-center pt-5">
    <div class="col-12 col-md-9 entry_content text-center">
      <h1>{{ page.title}}</h1>
      
      <div class="pull-right">
	{% include social_buttons.html %}
      </div>
      <div style="margin-top: 60px;">
	{{ content }}
      </div>
      <div class="pull-right">
	{% include social_buttons.html %}
      </div>
      <br><br><br>
      <div class="pull-right" style="margin-top: -20px;">
	<h5>{{ page.date | date: "%Y年%m月%d日" }} {{ page.author }}</h5>
      </div>
      <br><br><br><br>

      <hr>

      <div id="posts" style="padding-top: 15px; padding-bottom: 20px;">
	{% include recent_posts.html %}
      </div>

      <hr>

      <h5 style="padding-top: 20px; padding-bottom: 10px"><a href="https://twitter.com/YassLab" target="_blank">最近のツイート</a></h5>
      <a class="twitter-timeline" href="https://twitter.com/YassLab?ref_src=twsrc%5Etfw"
       data-lang="ja" data-chrome="noheader nofooter noborders" data-dnt="true"
       data-width="500" data-tweet-limit="3" target="_blank">@YassLab tweets in Twitter</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
  </section>
</div>

{% include footer_without_contact.html %}
