* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

// Social Buttons
.snsb {
    overflow: hidden;
    clear: left;
    margin-left: 13px;
}
.snsb li {
    float: left;
    margin-right: 4px;
    list-style-type: none;
}
.snsb iframe {
    margin: 0 !important;
}

.btn {
  padding: 15px 60px;
}

.bd {
  border: 1px solid #cc0000;
}

br.pc-hidden{
  display:none;
  @include media-breakpoint-down(sm) {
    display:inline;
  }
}
br.mobile-hidden{
  display:inline;
  @include media-breakpoint-down(sm) {
    display:none;
  }
}


// font setting

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700');

@mixin link() {
  background: linear-gradient(transparent 60%, #ff6 60%);
  box-shadow: none;
}

html {
  font-size: 15px;

  &[lang="ja"] {
    body,
    button,
    input,
    select,
    textarea {
      font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
    }
  }
}

// dropdown-menu
@include media-breakpoint-down(sm) {
   .dropdown-menu{
     background-color:#9ab7e0;
   }
}

// front-page

.mainVisual > .jumbotron {
  position: relative;
  padding:0;
  margin-bottom: 0;
  /*background: url("../img/top-image-large.jpg");
  color: #ffffff;
  padding: 300px 0;
  margin-bottom: 0;
  background-position: center center;
  background-size: cover;*/
  .logo-catch{
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    text-align: center;
    img{
      max-width: 100%;
      @include media-breakpoint-down(sm) {
        max-width: 80%;
      }
    }
    h1{
      text-shadow: 1px 1px 1px #444;
      font-size: 2.8rem;
      color:#fff;
      padding-top: 30px;
      @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
        padding-top: 15px;
      }
    }
  }
}
.catchCopy {
  text-align: center;
  padding: 100px 0;
  background: url(../../img/bg-cording.jpg);
  background-position: center center;
  background-size: cover;
  & > p {
    max-width: 200px;
  }
@include media-breakpoint-down(sm) {
    padding: 50px 0;
  }
}

 
  
.bg-gray{
  background-color: #EAEAEA;
}

.bg-dark{
   text-align: center;
  padding: 0;
  background: url(../../img/bg-dark.jpg);
  background-position: center center;
  background-size: cover;
  & > p {
    max-width: 200px;
  }
@include media-breakpoint-down(sm) {
    padding: 50px 0;
  }
}

.service,
.developmentSupport,
.aboutVisual,
.okinawaMember,
.tokyoMember,
.sns,
.commutySupport,
.partner,
.whatsNew {
  text-align: center;
  padding: 50px 0;
  h2 {
    padding: 50px 0 50px 0;
  }
  h3 {
    padding: 0 0 10px 0;
    @include media-breakpoint-up(sm) {
      padding: 50px 0 40px 0;
    }
  }
  /*h3:after{
  width:20%;
  content: "";
  border-bottom: 1px solid #000;
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: -20px;
  }*/
  /*h3:after{
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
  }*/
  h4{
    font-weight: bold;
    font-size: 1.3rem;
  }
  img {
    margin-bottom: 20px;
  }
}

.service {
  button {
    /*border-radius: 0px;*/
    margin-bottom: 20px;
  }
  button:hover{
    opacity:0.9;
  }
  .books {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 133px;
  }
}

.btn-ruby {
  background-color: $ruby;
  color: #ffffff;
  font-weight: normal;
}

.developmentSupport {
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #2e5491 10%, #4dabbf 90%);
  background: -moz-linear-gradient(45deg, #2e5491 10%, #4dabbf 90%);
  background: -ms-linear-gradient(45deg, #2e5491 10%, #4dabbf 90%);
  background: -o-linear-gradient(45deg, #2e5491 10%, #4dabbf 90%);
  background: linear-gradient(45deg, #2e5491 10%, #4dabbf 90%);
  
  h3{
    color:#fff;
  }
  figcaption{
    color:#b3dce6;
  }
  .btn{
    border:1px solid #e8e8e8;
  }
}

.aboutVisual {
  text-align: center;
  padding: 150px 0;
  margin-bottom:20px;
  background: url(../img/remote-img.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }
  h2 {
    padding: 50px 0 50px 0;
  }
  img {
    margin-bottom: 20px;
  }
  p{
    margin-bottom:50px;
  }
}




.cardMember {
  border: none;
  padding: 0;
  @include media-breakpoint-up(sm) {
    padding: 50px 50px 0 50px;
  }
}

.okinawaMember,
.tokyoMember {
  padding: 0;
  h3 {
    padding: 20px;
  }
}

.sns {
  .card {
    border-radius: 12px;
    border: 2px #EAEAEA solid;
    dl {
      @include media-breakpoint-up(sm) {
        padding: 20px 0;
      }
      dt {
        padding: 10px 0 0 0;
        @include media-breakpoint-up(sm) {
          padding: 10px 0;
        }
        font-size: $font-size-base;
        @include media-breakpoint-up(sm) {
          font-size: 1.2rem;
        }
      }
      dd {
        font-size: $font-size-lg;
        @include media-breakpoint-up(sm) {
          font-size: 2rem;
        }
      }
    }
    &__icon {
      padding: 20px 0;
      border-bottom: 2px #EAEAEA solid;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      img {
        height: 40px;

        @include media-breakpoint-up(sm) {
          height: 70px;
        }
        margin-bottom: 0;
      }
    }
    &__qiita {
      .card__icon {
        background-color: #54c502;
      }
    }
    &__github {
      .card__icon {
        background-color: #000000;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    /*溝幅 10pxにする*/
    .gutter-10 {
      margin-left: -5px;
      margin-right: -5px;
    }
    .gutter-10 > [class*='col-'] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.commutySupport {
  background: url(../../img/bg-community.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  h2,p{
    color:#fff;
  }
  p {
    margin-bottom: 50px;
  }
  figcaption,figcaption a{
    color:#fff;
  }
}

.partner {
  padding: 100px 0;
  img {
    margin-bottom: 0;
  }
  img.bd-bk{
      border : 1px solid #000;
      margin-top:50px;
    }
}

.whatsNew {
  border-top: #EAEAEA 3px solid;
  ul{
    text-align: left;
    li{
      padding-bottom:10px;
    }
  }
}

.siteHeader {
  h1{
    padding:0;
    margin:0 auto;
    margin-bottom:10px;
  }
  .navbar {
    @include media-breakpoint-up(sm) {
    .navbar-collapse{
      /*display: flex;*/
      justify-content: flex-end;
    }
  }
    .navbar-nav {
      .nav-item {
        padding: 0 5px;
      }
      .nav-link {
        font-size: $font-size-sm;
      }
    }
  }
}

// page

.pageVisual > .jumbotron {
  background: url("../../img/bg-sky.jpg");//空の画像
  color: #ffffff;
  padding: 100px 0;
  margin-bottom: 0;
}

.pageVisual > .bg-dark {
  background: url("../../img/bg-dark.jpg");//0と1が並んだ画像
  color: #ffffff;
  padding: 100px 0;
  margin-bottom: 0;
}


.blue-text {
  color: $blue;
}

.company {
  table {

  }
  tr {
    border-bottom:1px solid #e8e8e8;
  }
  th, td {
    vertical-align: middle;
    padding:20px;
  }
  th {
    width: 30%;
  }
  td{
    width:70%;
  }
  img {
    margin-right: 20px;
  }
  .sigyo-name{
  font-size:1.5rem;
  padding-bottom:20px;
  }
}



footer { 
  text-align: center;
  padding-bottom: 50px;
  background-color: #366fbc;
  background-image: url("../img/form-bg.jpg");//砂浜の写真
  background-position: center bottom;
  background-repeat: no-repeat;
  color:#fff;
  #contact-form{
      padding: 20px 0;
    @include media-breakpoint-up(sm) {
      padding: 20px 100px;
    }
  }
  ul{
    list-style: none;
    padding-left:0;
    margin-top:50px;
    /*display: flex;*/
    li{
      display: inline-block;
      padding:5px 20px;
      text-align: center;
      height: 50px;
      line-height: 50px;
      a{
        color:#fff;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
  small{
    color:#c0c6ce;
  }
}

@include media-breakpoint-up(sm) {
  .siteHeader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  body {
    padding-top: 49px;
  }
}


.entry_content{
  .imgfit {
    margin: 30px auto 20px auto;
    width: 70%;
    @include media-breakpoint-down(sm) {
      margin: 20px auto 10px auto;
      width: 100%;
    }
  }

  a{
    /*text-decoration: underline;*/
  }
  line-height: 1.5;
  h1 {
  position: relative;
  line-height: 1.4;
  padding:0.25em 1em;
  margin-bottom:3rem;
  display: inline-block;
  top:0;
  }
  
  h1:before,h1:after{ 
    position: absolute;
    top: 0;
    content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
  }
  h1:before{
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
    left: 0;
  }
  h1:after{
    content: '';
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    right: 0;
  }
  /*h2{

    padding: 6px 0px 6px 12px;
    margin: 30px 0px 10px 0;

  }*/
  h2{
  position: relative;
  display: inline-block;
    padding: 0 25px;
  @include media-breakpoint-up(sm) {
    padding: 0 55px;
  }
  margin-bottom:3rem;
  }
  
  h2:before, h2:after{
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 15px;
  @include media-breakpoint-up(sm) {
    width: 45px;
  }
  height: 1px;
  background-color: black;
  }
  
  h2:before {left:0;}
  h2:after {right: 0;}
  
  /*h2の装飾を消す*/
  h2.h2deco-none:before,
  h2.h2deco-none:after{
     background-color:#fff;
  }

  h3{
    margin: 20px 0 10px 0;
    /*font-weight: bold;*/
  }
  p{ line-height: 2.2em; }
  p,ul{
    margin-bottom: 30px;
    @include media-breakpoint-up(sm) {
      margin-bottom: 40px;
    }
    text-align: left;
  }
  ul{
    padding-left: 25px;
  }
  ul>li{ 
    margin-top: 10px;
  }
  li{
    margin-bottom: 10px;
    text-align: left;
  }
  .profile {
    text-align: center;
    &__sns {
      padding: 0;
      text-align: center;
      &__icon {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}

pre{border : 1px solid #cc0000; 
  padding: 20px;
  text-align: left;
  border: 1px solid #ccc;
  .highlight {
    padding: 20px;
  }
}

.community-icon{
  /*border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;*/
  margin-bottom: 20px;
  th,
  td{
    font-size: $font-size-sm;
    padding: 10px;
    /*border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;*/
    img{
      max-width:80%;
    }
  }
}



h1,h2,h3,h4,h5{
  margin-bottom:20px; 
  a{
    color: #212529;
    text-decoration: none;
  }
}


@include media-breakpoint-up(sm) {
  h1 {
    font-size: $font-size-base * 2.5;
  }
  h2 {
    font-size: $font-size-base * 2;
  }
  h3 {
    font-size: $font-size-base * 1.75;
  }
  h4 {
    font-size: $font-size-base * 1.5;
  }
  h5 {
    font-size: $font-size-base * 1.25;
  }
}

//画像下のcaptionの調整
center {
  margin: -5px 0 40px 0;
  font-size: 12px;
}

//YouTubeレスポンシブ対応
.video {
position: relative;
height: 0;
padding: 30px 0 56.25%;
overflow: hidden;
}

.video iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

//DoorKeeperスポンサーシップ
table.community-icon{
  width:100%;
}
//開発支援ページの現在のスケジュール（WaitingList）
table.month-sche{
  width:100%;
  border : 1px solid #869dad; 
  th{
    background-color:#e9f4fc;
    padding:30px;
    width:16%;
    font-size:1.3rem;
  }
  td{
    padding:10px 28px;
    .caption{
      padding-top:10px; 
        @include media-breakpoint-down(md) {
        display:none;
      }
    } 
  }
}
table.caption{
  text-align: left;
  margin-top:10px;
  th,td{
    padding:5px 10px;
    vertical-align: top;
  }
}
//開発支援ページのFAQ
.frequently-asked-questions{
  dl {
     overflow: hidden;
     _zoom: 1;
     }
  dt,
  dd{
     text-align: left;
     font-size:1.2em;
     color:#444;
     margin:0 0 10px 0;
     padding-left:4.5em;
     line-height:1.8em;
     background:none no-repeat left top;
     min-width: 60px;
     min-height:60px;
     } 
  dd{
     background: url(../../img/faq-a.gif) no-repeat;
     overflow: hidden;
     }  
  dt{
     background: url(../../img/faq-q.gif) no-repeat;
     padding-top: 12px;
  }
}
